@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100;400&family=Open+Sans:ital@1&display=swap');

.cabecalho{
    display: flex;

}
.projeto{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
    padding: 8%;
    gap: 20px;
}
.preco{
    width: 1000px;
    height: 750px;
}
.producao{
    width: 1000px;
    height: 750px;
}
.div-preco{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.div-producao{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

label{
    font-family: 'Krona One', sans-serif;
    font-size: 15px;
    margin-bottom: 20px;


}

@media(max-width: 940px){
    .producao{
        width: 350px;
        height: 250px;
    }
    .preco{
        width: 350px;
        height: 250px;
    }
  
  

   
    
  
}